* {
  margin: 0 auto;
  padding: 2 rem;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  background: url('/public/bg.png') no-repeat center center fixed;
  color: #f0f0f0;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  padding: 20px;
}

/* Ajuste de margen entre h1 y el dropdown */
h1 {
  margin-bottom: 20px; /* Ajusta este valor según lo necesites */
}

/* Centrar el contenedor del texto y el dropdown */
.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espaciado vertical entre el texto y el select */
}

/* Ajuste del <select> */
.selector-container select {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid #4cd137;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}

.card h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f0f0f0;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4cd137;
}

.card p {
  font-size: 0.95rem;
  color: #dcdde1;
}
.card a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  background: #4cd137;
  color: #1a1a1a;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #44bd32;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}
